<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
	<div class="card shadow-lg p-4 rounded-4" style="width: 100%; max-width: 400px;">
		<h3 class="text-center fw-bold mb-4">{{ 'login.reset_password_form.title' | translate }}</h3>
		<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
			<div class="mb-3">
				<input
					type="password"
					class="form-control"
					placeholder="{{ 'login.reset_password_form.placeholder' | translate }}"
					formControlName="password"
				/>
                @if(resetForm.get("password")?.invalid && (resetForm.get("password")?.touched || resetForm.get("password")?.dirty)) {
                    @if(resetForm.get("password")?.errors?.["required"]) {
                        <small class="error-message">{{ 'error_message.password_required' | translate }}</small>
                    }
                    @if (resetForm.get("password")?.errors?.["minlength"]) {
                        <small class="error-message">{{ 'login.reset_password_form.errors.minlength' | translate }}</small>
                    }
                }
			</div>
			<div class="mb-3">
				<input
					type="password"
					class="form-control"
					placeholder="{{ 'login.reset_password_form.placeholder_again' | translate }}"
					formControlName="passwordAgain"
				/>
                @if(resetForm.get("passwordAgain")?.invalid && (resetForm.get("passwordAgain")?.touched || resetForm.get("passwordAgain")?.dirty)) {
                    @if(resetForm.get("passwordAgain")?.errors?.["required"]) {
                        <small class="error-message">{{ 'error_message.password_required' | translate }}</small>
                    }
                }
			</div>
			<div class="d-grid mt-4">
				<button class="btn text-white fw-semibold" type="submit" [disabled]="resetForm.invalid"
					style="background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4)">
					{{ 'login.reset_password_form.button' | translate }}
				</button>
			</div>
		</form>
	</div>
</div>
