@if (authService.getRole() === "student" ) {
<div class="container py-4">
  <h2 class="mb-4">{{ 'statistics.title' | translate }}</h2>
  <div class="row g-4">
    <div class="col-md-6">
      <div class="card p-3">
        <h5 class="mb-3">{{ 'statistics.charts.candle.hours_per_month' | translate }}</h5>
        <canvas id="barChart"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card p-3">
        <h5 class="mb-3">{{ 'statistics.charts.pie.hours_per_month' | translate }}</h5>
        <canvas id="pieChart"></canvas>
      </div>
    </div>
    <div class="col-12">
      <div class="card p-3">
        <h5 class="mb-3">{{ 'statistics.charts.line.cumulative_hours' | translate }}</h5>
        <canvas id="lineChart"></canvas>
      </div>
    </div>
  </div>
</div>
} 
@if(authService.getRole() === "mentor" ) {
  <div class="container py-4">
  <h2 class="mb-4">{{ 'statistics.title' | translate }}</h2>
  <div class="row g-4">
    <div class="col-md-6">
      <div class="card p-3">
        <h5 class="mb-3">{{ 'statistics.charts.candle.hours_per_month' | translate }}</h5>
        <canvas id="barChart"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card p-3">
        <h5 class="mb-3">{{ 'statistics.charts.pie.hours_per_month' | translate }}</h5>
        <canvas id="pieChart"></canvas>
      </div>
    </div>
    <div class="col-12">
      <div class="card p-3">
        <h5 class="mb-3">{{ 'statistics.charts.line.cumulative_hours' | translate }}</h5>
        <canvas id="lineChart"></canvas>
      </div>
    </div>
  </div>
</div>
}
