<div class="company-management container mt-5">
   <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap gap-2">
    <h2 class="m-0">{{ 'admin_panel.company_management.title' | translate }}</h2>
    <button class="btn btn-primary" (click)="toggleCompanyForm()">
      <i class="bi bi-plus-lg me-1"></i> {{ 'admin_panel.company_management.buttons.add_company' | translate }}
    </button>
    <button class="btn btn-secondary" routerLink="/admin">
      <i class="bi bi-arrow"></i> {{ 'admin_panel.company_management.buttons.back_to_dashboard' | translate }}
    </button>
  </div>

  @if(showCompanyForm) {
    <form [formGroup]="companyForm" (ngSubmit)="saveCompany()" class="card p-3 mb-4">
      <h5>{{ isEdit? "Edit Company" : "Add Company" }}</h5>
      <div class="row g-2">
        <div class="col-md-6">
          <input type="text" class="form-control" name="name" placeholder="Name" formControlName="name" required />
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" name="city" placeholder="city" formControlName="city" required />
        </div>
        <div class="col-md-6">
          <input type="email" class="form-control" name="email" placeholder="Email" formControlName="email" required />
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" name="address" placeholder="address" formControlName="address" required />
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" name="phone" placeholder="phone" formControlName="phone" required />
        </div>
        <div class="col-md-6">
          <select class="form-select" name="active" required formControlName="active">
            <option [ngValue]="true">{{ 'common.yes' | translate }}</option>
            <option [ngValue]="false">{{ 'common.no' | translate }}</option>
          </select>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-success mt-2">Save</button>
        </div>
      </div>
    </form>
  }

  <div class="table-responsive">
    <table class="table table-striped table-bordered align-middle">
      <thead class="table-dark">
        <tr>
          <th>{{ 'admin_panel.company_management.table_headers.name' | translate }}</th>
          <th>{{ 'admin_panel.company_management.table_headers.city' | translate }}</th>
          <th>{{ 'admin_panel.company_management.table_headers.address' | translate }}</th>
          <th>{{ 'admin_panel.company_management.table_headers.active' | translate }}</th>
          <th class="text-center">{{ 'admin_panel.company_management.table_headers.actions' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for (company of companies; track company) {
        <tr>
          <td>{{ company.name }}</td>
          <td>{{ company.city }}</td>
          <td>{{ company.address }}</td>
          <td>{{ company.active ? ('common.yes' | translate) : ('common.no' | translate) }}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-outline-primary me-1" (click)="editCompany(company)">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-sm btn-outline-danger" (click)="deleteCompany(company.id)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
