<div class="company-management container mt-5">
   <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap gap-2">
    <h2 class="m-0">Company Management</h2>
    <button class="btn btn-primary" (click)="addCompany()">
      <i class="bi bi-plus-lg me-1"></i> Add Company
    </button>
    <button class="btn btn-secondary" routerLink="/admin">
      <i class="bi bi-arrow"></i> Back to Dashboard
    </button>
  </div>

  @if(showDialog) {
    <app-edit-dialog
      [title]="'Edit Company'"
      [fields]="companyDialogFields"
      (close)="closeDialog()"
    >
    </app-edit-dialog>
  }
  <div class="row mb-3 gy-2">
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="Search by name or email..."
        
      />
      <!-- [(ngModel)]="searchText"
        (input)="applyFilters()" -->
    </div>
    <div class="col-md-3">
        <!-- [(ngModel)]="selectedRole" (change)="applyFilters() -->
      <select class="form-select">
        <option value="">All Roles</option>
        <option *ngFor="let role of roles" [value]="role">role</option>
      </select>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered align-middle">
      <thead class="table-dark">
        <tr>
          <th>Company Name</th>
          <th>City</th>
          <th>Address</th>
          <th>Mentors</th>
          <th>Internships</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (company of companies; track company) {
        <tr>
          <td>{{ company.name }}</td>
          <td>{{ company.city }}</td>
          <td>{{ company.address }}</td>
          <td>{{ company.mentors }}</td>
          <td>{{ company.internships }}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-outline-primary me-1" (click)="editCompany(company)">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-sm btn-outline-danger" (click)="deleteCompany(company.id)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
