<nav [class.collapsed]="isCollapsed" class="sidebar">

  <div class="profile-section">
    <img src="/avatar.png" alt="Profile" class="profile-pic">
    @if(!isCollapsed && authService.isLoggedIn()) {
      <div class="profile-info">
        <div class="username">{{ user.firstname }} {{ user.lastname }}</div>
        <div class="role">{{ authService.getUserRole() }}</div>
      </div>
    }
  </div>

  <ul class="menu">
    <li class="menu-item">
      <i routerLink="/dashboard" class="bi bi-house"></i>
      @if (!isCollapsed) {
      <span routerLink="/dashboard" class="label">{{ 'sidenav.items.dashboard' | translate }}</span>
      }
    </li>
    <li class="menu-item">
      <i routerLink="/profile" class="bi bi-person"></i>
      @if (!isCollapsed) {
      <span class="label" routerLink="/profile">{{ 'sidenav.items.profile' | translate }}</span>
      }
    </li>
    @if(authService.getRole() === "mentor") {
      <li class="menu-item">
      <i class="bi bi-people-fill"></i>
      @if (!isCollapsed) {
      <span class="label">{{ 'sidenav.items.students' | translate }}</span>
      }
    </li>
    }
    <li class="menu-item">
      <i class="bi bi-hourglass"></i>
      @if (!isCollapsed) {
      <span class="label" routerLink="/internship-hours">{{ 'sidenav.items.completed_hours' | translate }}</span>
      }
    </li>
    <li class="menu-item">
      <i class="bi bi-file-earmark-text"></i>
      @if (!isCollapsed) {
      <span class="label">{{ 'sidenav.items.documents' | translate }}</span>
      }
    </li>
     <li class="menu-item">
      <i class="bi bi-bar-chart"></i>
      @if (!isCollapsed) {
      <span class="label">{{ 'sidenav.items.statistics' | translate }}</span>
      }
    </li>
  </ul>
   <div class="bottom-section">
    
    <button class="logout-button" (click)="logout()">
      <i class="bi bi-box-arrow-left"></i>
      @if (!isCollapsed) {
      {{ 'sidenav.logout_button' | translate }}
      }
    </button>
  </div>
  <button></button>
</nav>
