<div class="auth-wrapper d-flex align-items-center justify-content-center min-vh-100 bg-light bg-gradient">
  <div class="auth-box bg-white p-4 shadow rounded-4">
    <h4 class="text-center mb-4 fw-bold">{{ "register.form.title" | translate }}</h4>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="{{ 'register.form.placeholder.firstname' | translate }}" formControlName="firstname">
      </div>

      <div class="mb-3">
        <input type="text" class="form-control" placeholder="{{ 'register.form.placeholder.lastname' | translate }}" formControlName="lastname">
      </div>

      <div class="mb-3">
        <input type="email" class="form-control" placeholder="{{ 'register.form.placeholder.email' | translate }}" formControlName="email">
      </div>

      <div class="mb-3">
        <input type="password" class="form-control" placeholder="{{ 'register.form.placeholder.password' | translate }}" formControlName="password">
      </div>

      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" formControlName="terms" id="termsCheck">
        <label class="form-check-label" for="termsCheck">
          {{ 'register.form.terms.statements' | translate }} <a href="#">{{ 'register.form.terms.link' | translate }}</a>
        </label>
      </div>

      <button class="btn w-100 text-white" [disabled]="registerForm.invalid">
        {{ 'register.form.button' | translate }}
      </button>
    </form>

    <div class="text-center mt-3">
      {{ 'register.form.registered.question' | translate }} <a href="#" class="fw-semibold">{{ 'register.form.registered.link' | translate }}</a>
    </div>
  </div>
</div>
