<div class="auth-wrapper d-flex align-items-center justify-content-center min-vh-100 bg-light bg-gradient">
  <div class="auth-box bg-white p-4 shadow rounded-4">
    <h4 class="text-center mb-4 fw-bold">{{ "register.form.title" | translate }}</h4>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="{{ 'register.form.placeholder.firstname' | translate }}" formControlName="firstname">
        @if(registerForm.get("firstname")?.invalid && (registerForm.get("firstname")?.touched || registerForm.get("firstname")?.dirty)) {
          @if(registerForm.get("firstname")?.errors?.["required"]) {
            <small class="error-message">{{ 'error_message.firstname_required' | translate }}</small>
          }
        }
      </div>

      <div class="mb-3">
        <input type="text" class="form-control" placeholder="{{ 'register.form.placeholder.lastname' | translate }}" formControlName="lastname">
         @if(registerForm.get("lastname")?.invalid && (registerForm.get("lastname")?.touched || registerForm.get("lastname")?.dirty)) {
          @if(registerForm.get("lastname")?.errors?.["required"]) {
            <small class="error-message">{{ 'error_message.lastname_required' | translate }}</small>
          }
        }
      </div>

      <div class="mb-3">
        <input type="email" class="form-control" placeholder="{{ 'register.form.placeholder.email' | translate }}" formControlName="email">
        @if(registerForm.get("email")?.invalid && (registerForm.get("email")?.touched || registerForm.get("email")?.dirty)) {
          @if(registerForm.get("email")?.errors?.["required"]) {
            <small class="error-message">{{ 'error_message.email_required' | translate }}</small>
          }
        }
      </div>

      <div class="mb-3">
        <input type="password" class="form-control" placeholder="{{ 'register.form.placeholder.password' | translate }}" formControlName="password">
        @if(registerForm.get("password")?.invalid && (registerForm.get("password")?.touched || registerForm.get("password")?.dirty)) {
          @if(registerForm.get("password")?.errors?.["required"]) {
            <small class="error-message">{{ 'error_message.password_required' | translate }}</small>
          }
        }
      </div>

      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" formControlName="terms" id="termsCheck">
        <label class="form-check-label" for="termsCheck">
          {{ 'register.form.terms.statements' | translate }} <a href="#">{{ 'register.form.terms.link' | translate }}</a>
        </label>
      </div>

      <button class="btn w-100 text-white" [disabled]="registerForm.invalid">
        {{ 'register.form.button' | translate }}
      </button>
    </form>

    <div class="text-center mt-3">
      {{ 'register.form.registered.question' | translate }} <a routerLink="/login" href="#" class="fw-semibold">{{ 'register.form.registered.link' | translate }}</a>
    </div>
  </div>
</div>
