.auth-box {
    width: 100%; 
    max-width: 400px;

    h4 {
        text-transform: uppercase;
    }

    .btn {
        background: linear-gradient(to right, #667eea, #56ab2f);
        text-transform: uppercase;
    }
}