<nav class="navbar">
  
  <div class="brand">{{ 'navbar.title' | translate }}</div>
  <span (click)="onToggleSidebar()" class="hamburger">
  <i class="bi bi-list"></i>
</span>
  <input type="text" placeholder="{{ 'navbar.search' | translate }}" />
  
  <!-- Profile Picture -->
  <div class="profile-section">
    <app-profile-picture
      *ngIf="currentUser"
      [currentPicture]="currentUser.profilePicture"
      [size]="'small'"
      [editable]="false"
      (pictureChanged)="onProfilePictureChanged($event)"
    ></app-profile-picture>
  </div>
  
   <div class="right-section">
    <app-language-selector></app-language-selector>
  </div>
</nav>
