.row {
    display: flex;
    gap: 4rem;
}

.card {
  border: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  width: 200px;
}
.modal {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
