<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-semibold">{{ 'internship_hours.title' | translate }}</h2>
    @if (authService.getRole() === "student") {
      <button class="btn btn-primary" (click)="openModal()">+ {{ 'internship_hours.add_hour' | translate }}</button>
    }
  </div>

    <div class="d-flex justify-content-center align-items-center mb-3">
    <button class="btn btn-outline-secondary me-2" (click)="goToPreviousWeek()">
      ◀
    </button>
    <span class="fw-semibold">
      {{ getWeekRange() }}
    </span>
    <button class="btn btn-outline-secondary ms-2" (click)="goToNextWeek()">
      ▶
    </button>
  </div>
  
<div class="d-flex justify-content-between text-center border-bottom pb-2 mb-4">
    
    <div
      *ngFor="let date of getWeekDates()"
      class="flex-fill px-2"
      style="cursor: pointer;"
      (click)="selectDate(date)"
    >
      <div
        [ngClass]="{
          'fw-bold border-bottom border-3 border-warning text-dark': isSameDay(date, selectedDate),
          'text-muted': !isSameDay(date, selectedDate)
        }"
      >
        {{ getDayName(date) }} - {{date | date: 'MM.dd'}}<br />
        <small>{{ getTotalForDay(date) }}</small>
      </div>
    </div>
  </div>

  <div *ngIf="todayEntries.length > 0; else noEntries">
    <div class="list-group">
      <div
        *ngFor="let entry of todayEntries"
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <div>
          <strong>{{ entry.startTime }} – {{ entry.endTime }}</strong><br />
          <small class="text-muted">{{ entry.description }}</small> <br />
          <small
          [ngClass]="{
            'text-success': entry.status === 'approved',
            'text-warning': entry.status === 'pending',
            'text-danger': entry.status === 'rejected'
          }"
          >
          {{
            entry.status === 'approved' ? 'Elfogadva': entry.status === 'rejected' ? 'Elutasítva': 'Függőben'
          }}
          </small>
        </div>
        <span class="badge bg-light text-dark">
          {{ getDuration(entry.startTime, entry.endTime) }}
        </span>
      </div>
    </div>
  </div>

  <ng-template #noEntries>
    <div class="alert alert-light text-center" role="alert">
      {{ 'internship_hours.zero_hour' | translate }}
    </div>
  </ng-template>
</div>

<!-- MODAL -->
 @if (isModalOpen) {
  <div
    class="custom-modal-backdrop"
  >
    <div class="custom-modal">
      <form (ngSubmit)="addHour()" [formGroup]="hourForm">
        <div class="mb-3">
          <h5>{{ 'internship_hours.add_hour_box.title' | translate }}</h5>
        </div>
        <!-- 
        @if (authService.getUserRole() === "Mentor") {
        <div class="mb-3">
          <label class="form-label">{{ 'internship_hours.add_hour_box.start' | translate }}</label>
          <input type="time" class="form-control" formControlName="startTime" name="startTime" required />
        </div>
        }
        -->
        <div class="mb-3">
          <label class="form-label">{{ 'internship_hours.add_hour_box.start' | translate }}</label>
          <input type="time" class="form-control" formControlName="startTime" name="startTime" required />
        </div>

        <div class="mb-3">
          <label class="form-label">{{ 'internship_hours.add_hour_box.end' | translate }}</label>
          <input type="time" class="form-control" formControlName="endTime" name="endTime" required />
        </div>

        <div class="mb-3">
          <label class="form-label">{{ 'internship_hours.add_hour_box.desc' | translate }}</label>
          <textarea class="form-control" formControlName="description" name="description" rows="3" required></textarea>
        </div>

        <div class="d-flex justify-content-end gap-2">
          <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">{{ 'buttons.forms.cancel' | translate }}</button>
          <button type="submit" class="btn btn-primary">{{ 'buttons.forms.save' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
}