<div class="container profile-container mt-5">
  <div class="row">
    <!-- Left Panel -->
    <div class="col-md-4 text-center">
      <img
        src="/avatar.png"
        class="img-thumbnail rounded-circle mb-2"
        width="150"
        height="150"
      />
      <input type="file" (change)="onFileSelected($event)" />
      <div class="mt-3">
        @if (authService.getRole() === "student") {
          <p><strong>Intership</strong> <a href="#">########</a></p>
          <p><strong>Activity</strong></p>
          
          <p>Completed hours: ######</p>
          <p>Uploaded documents: #####</p>
        }@else {
          <p>{{ authService.getUserRole()}}</p>
          <p><strong>Activity</strong></p>

          <p>students: ######</p>
        }
      </div>
    </div>

    <!-- Right Panel: Form -->
    @if (authService.getRole() === "student") {
    <div class="col-md-8">
      <h2>{{ 'profile.student_details.title' | translate }}</h2>
      <hr />
      <form [formGroup]="profileForm" (ngSubmit)="onSubmitProfile()">
        <div class="row mb-2">
          <div class="col">
            <input
              formControlName="firstname"
              placeholder="{{ 'profile.student_details.placeholder.firstname' | translate }}"
              class="form-control"
            />
          </div>
          <div class="col">
            <input
              formControlName="lastname"
              placeholder="{{ 'profile.student_details.placeholder.lastname' | translate }}"
              class="form-control"
            />
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <input
              formControlName="phone"
              placeholder="{{ 'profile.student_details.placeholder.phone' | translate }}"
              class="form-control"
            />
          </div>
          <div class="col">
            <input
              formControlName="email"
              placeholder="{{ 'profile.student_details.placeholder.email' | translate }}"
              class="form-control"
            />
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <input
              formControlName="university"
              placeholder="{{ 'profile.student_details.placeholder.uni' | translate }}"
              class="form-control"
            />
          </div>
          <div class="col">
            <input
              formControlName="major"
              placeholder="{{ 'profile.student_details.placeholder.major' | translate }}"
              class="form-control"
            />
          </div>
          <div class="col">
            <input
              formControlName="neptun"
              placeholder="{{ 'profile.student_details.placeholder.neptun' | translate }}"
              class="form-control"
            />
          </div>
        </div>
        

        <button
          type="submit"
          class="btn btn-success me-2"
          [disabled]="profileForm.invalid"
        >
          ✅ {{ 'buttons.forms.save' | translate }}
        </button>
        <button type="reset" class="btn btn-secondary" (click)="resetProfile()">
          🔄 {{ 'buttons.forms.reset' | translate }}
        </button>
      </form>
    </div>
    } @else {
      <div class="col-md-8">
        <h2 class="text-primary">{{ 'profile.mentor_details.title' | translate }}</h2>
        <hr />
        <div class="card shadow-sm">
          <div class="card-body bg-light rounded">
            <div class="row mb-3">
              <div class="col">
                <label class="form-label text-muted">Vezetéknév</label>
                <p class="form-control-plaintext fw-semibold">{{ profileForm.get('lastname')?.value }}</p>
              </div>
              <div class="col">
                <label class="form-label text-muted">Keresztnév</label>
                <p class="form-control-plaintext fw-semibold">{{ profileForm.get('firstname')?.value }}</p>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col">
                <label class="form-label text-muted">Telefonszám</label>
                <p class="form-control-plaintext">{{ profileForm.get('phone')?.value }}</p>
              </div>
              <div class="col">
                <label class="form-label text-muted">Email</label>
                <p class="form-control-plaintext">{{ profileForm.get('email')?.value }}</p>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col">
                <label class="form-label text-muted">Cég / Egyetem</label>
                <p class="form-control-plaintext">{{ profileForm.get('university')?.value }}</p>
              </div>
              <div class="col">
                <label class="form-label text-muted">Beosztás / Szerep</label>
                <p class="form-control-plaintext">{{ profileForm.get('major')?.value }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    }

    @if( authService.getRole() === "student") { 
    <div class="mt-5">
      <h2>{{ 'profile.company_details.title' | translate }}</h2>
      <hr />
      @if (internship) {
          <div>
            <div class="row mb-2">
              <div class="col">
                <p><strong>{{ 'profile.company_details.placeholder.company_name' | translate }}:</strong> {{ internship.companyName }}</p>
              </div>
              <div class="col">
                <p><strong>{{ 'profile.company_details.placeholder.mentor_name' | translate }}:</strong> {{ internship.mentorName }}</p>
              </div>
            </div>
            <div class="row mb-2">
               <div class="col">
                <p><strong>{{ 'profile.company_details.placeholder.company_email' | translate }}:</strong> {{ internship.companyEmail }}</p>
              </div>
              <div class="col">
                <p><strong>{{ 'profile.company_details.placeholder.mentor_email' | translate }}:</strong> {{ internship.mentorEmail }}</p>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <p><strong>{{ 'profile.company_details.placeholder.city' | translate }}:</strong> {{ internship.companyCity }}</p>
              </div>
              <div class="col">
                <p><strong>{{ 'profile.company_details.placeholder.company_address' | translate }}:</strong> {{ internship.companyAddress }}</p>
              </div>
            </div>
            <div class="alert alert-info mt-3">
              {{ 'profile.company_details.message.data' | translate }}
            </div>
          </div>
      } @else {
      <ng-template #noData>
        <div class="alert alert-warning">
          {{ 'profile.company_details.message.no_data' | translate }}
        </div>
      </ng-template>
      }
    </div>
    } @else {
      
    }
  </div>
</div>

