<div class="user-management container mt-5">
   <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap gap-2">
    <h2 class="m-0">User Management</h2>
    <button class="btn btn-primary" (click)="addUser()">
      <i class="bi bi-plus-lg me-1"></i> Add User
    </button>
    <button class="btn btn-secondary" routerLink="/admin">
      <i class="bi bi-arrow"></i> Back to Dashboard
    </button>
  </div>

   @if(showDialog) {
    <app-edit-dialog
      [(showDialog)]="showDialog"
      [title]="'Add User'"
      [message]="'Please fill out the user details below:'"
      [fields]="fields"
      [formData]="formData"
      [confirmButtonText]="'Save'"
      [cancelButtonText]="'Cancel'"
      (confirmed)="onCreateDialogConfirmed($event)"
      (canceled)="closeDialog()"
    >
    </app-edit-dialog>
  }

  @if(showEditDialog) {
    <app-edit-dialog
      [(showDialog)]="showEditDialog"
      [title]="'Edit User'"
      [message]="'Please fill out the user details below:'"
      [fields]="editUserFields"
      [formData]="formData"
      [confirmButtonText]="'Save'"
      [cancelButtonText]="'Cancel'"
      (confirmed)="onEditDialogConfirmed($event)"
      (canceled)="closeDialog()"
    >
    </app-edit-dialog>
  }

  <div class="row mb-3 gy-2">
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="Search by name or email..."
        
      />
      <!-- [(ngModel)]="searchText"
        (input)="applyFilters()" -->
    </div>
    <div class="col-md-3">
        <!-- [(ngModel)]="selectedRole" (change)="applyFilters() -->
      <select class="form-select">
        <option value="">All Roles</option>
        @for(role of roles; track role) {
        <option>role</option>
        }
      </select>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered align-middle">
      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Status</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (user of users; track user) {
        <tr>
          <td>{{ user.firstname }} {{ user.lastname }}</td>
          <td>{{ user.email }}</td>
          <td>
            <span class="badge bg-secondary text-capitalize">{{ user.role }}</span>
          </td>
          <td>
          <span> {{ user.active ? 'Active' : 'Inactive' }}</span> 
          </td>
          <td class="text-center">
            <button class="btn btn-sm btn-outline-primary me-1" (click)="editUser(user)">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-sm btn-outline-danger" (click)="deleteUser(user.id)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
