@if (showDialog) {
  <div class="dialog-overlay">
    <div class="dialog-dialog" [class.show]="showDialog">
      <div class="dialog-header">
        <h2 class="dialog-title">{{ title }}</h2>
        <button class="close-button" (click)="onCancel()">×</button>
      </div>

      <div class="dialog-body">
        <p class="dialog-message">{{ message }}</p>

        @for(field of fields; track field) {
        <div class="dialog-form">
          <label [for]="field.name">{{ field.label }}</label>
          
          @if(field.type === 'text' || field.type === 'number') {
            <input
            [type]="field.type"
            class="dialog.input"
            [(ngModel)]="formData[field.name]"
            [id]="field.name"
            [placeholder]="field.placeholder"
            />
          }

          @if (field.type === 'textarea') {
            <textarea 
            class="dialog.input"
            [(ngModel)] = "formData[field.name]"
            [id]="field.name"
            [placeholder]="field.placeholder"
            >
          </textarea>
          }

          @if (field.type === 'select') {
            <select
            class="dialog.input"
            [(ngModel)]="formData[field.name]"
            [id]="field.name"
            >
              @for (opt of field.options; track opt) {
                <option [value]="opt.value">
                  {{ opt.label }}
                </option>
              }
            </select>
          }
        </div>
        }
      </div>
      <div class="dialog-footer">
        <button class="cancel-button" (click)="onCancel()">{{ cancelButtonText }}</button>
        <button class="confirm-button" (click)="onConfirm()">{{ confirmButtonText }}</button>
      </div>
    </div>
  </div>
}
